<div>
      <form class="form-login" action="/Profile/ChangePassword" method="post" enctype="multipart/form-data">
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>

            <hr/>

            <button class="btn btn-lg btn-primary" type="submit">Change</button>
            <span>
            <a class="btn btn-lg btn-primary" href="/Profile/User">Cansel</a>
            </span>
      </form>
</div>