@model Blank

<div class="text-center block-blank">
    <form class="form-login" action="/Profile/Change" method="post" enctype="multipart/form-data">
      
      <h1 class="h3 mb-3 font-weight-normal">Anket</h1>

      <label for="firstName" class="sr-only">Name:</label>
      <input type="text" id="firstName" class="form-control" placeholder="Name" name="firstName" value="@Model.FirstName" required>

      <br/>

      <label for="secondName" class="sr-only">Surname:</label>
      <input type="text" id="secondName" class="form-control" placeholder="Surname" name="secondName" value="@Model.SecondName" required>

      <br/>

      <label for="description" class="sr-only">Text:</label>
      <input type="text" id="description" class="form-control" placeholder="Hellow! My name..." name="description" value="@Model.Description" required>

      <br/>

      <label for="age" class="sr-only">Age:</label>
      <input type="number" id="age" class="form-control" placeholder="Age" name="age" min="0" max="150" value="@Model.Age" required>

      <br/>

      <div>
        <input type="file" name="photo" accept="image/*" id="photo">
        <label for="photo" class="custom-file-upload">Choose your photo</label>
        <span id="file-name">There was no photo change</span>

        <script>
          const input = document.getElementById('photo');
          const fileNameSpan = document.getElementById('file-name');

          input.addEventListener('change', (e) => {
          const file = e.target.files[0];
          fileNameSpan.textContent = file ? file.name : "File not selected";
          });
        </script>
      </div>
      
      <hr/>

      <fieldset>
        @if(Model.Sex == "male")
        {
          <p><label for="sex">Sex:</label></p>
          <div id="sex">
            <input type="radio" id="maleS" name="sex" value="male" checked>
            <label for="maleS">Male</label>
          </div>

          <div>
            <input type="radio" id="femaleS" name="sex" value="female">
            <label for="femaleS">Female</label>
          </div>
        }
        else
        {
          <p><label for="sex">Sex:</label></p>
          <div id="sex">
            <input type="radio" id="maleS" name="sex" value="male">
            <label for="maleS">Male</label>
          </div>

          <div>
            <input type="radio" id="femaleS" name="sex" value="female" checked>
            <label for="femaleS">Female</label>
          </div>
        }
      </fieldset>

      <hr/>

      <fieldset>
        @if(Model.PreferSex == "male")
        {
          <p><label for="preferSex">Prefer sex:</label></p>
          <div id="preferSex">
            <input type="radio" id="malePS" name="preferSex" value="male" checked>
            <label for="malePS">Male</label>
          </div>

          <div>
            <input type="radio" id="femalePS" name="preferSex" value="female">
            <label for="femalePS">Female</label>
          </div>
        }
        else
        {
          <p><label for="preferSex">Prefer sex:</label></p>
          <div id="preferSex">
            <input type="radio" id="malePS" name="preferSex" value="male">
            <label for="malePS">Male</label>
          </div>

          <div>
            <input type="radio" id="femalePS" name="preferSex" value="female" checked>
            <label for="femalePS">Female</label>
          </div>
        }
      </fieldset>

      <br/>

      <button class="btn btn-lg btn-primary" type="submit">Change</button>
      <span>
        <a class="btn btn-lg btn-primary" href="/Profile/User">Cansel</a>
      </span>
    </form>
</div>