@model Blank

<div>
    @Html.Partial("Anket", @Model)

    <p>
        <a class="btn btn-warning" href="/Profile/Settings">Settings</a>
        <a class="btn btn-warning" href="/Profile/Password">Change password</a>    
    </p>
</div>