<div>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Dating site!</h1>
            <p>Our dating site is the perfect place for those who are looking for love or just friendship. Here you can find a partner based on your interests and preferences, as well as meet new people and find your soulmate. We promise to provide the best way to find people to spend a pleasant time with and talk to. Our site is the ideal spot for those seeking true love. Join our community and find real love!</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Messages</h2>
                <p>To start a conversation, go to the People tab. Put likes to those people with whom you would like to start communication. If the user reciprocates, a chat will be added with him.</p>
            </div>
        <div class="col-md-4">
            <h2>News</h2>
            <p>Already more than 100 lovers have found their soul mate with us.</p>
        </div>
        <div class="col-md-4">
            <h2>Advice</h2>
            <p>Write only the truth about yourself. Falseness can be beautiful, but it is very easy to recognize. To find a truly your person, you need to be yourself from the very beginning of your acquaintance.</p>
        </div>
    </div>
</div>