.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    background-color: #007aff;
    border-color: #007aff;
    border-radius: 4px;
    }

    input[type="file"] {
      display: none;
    }
  
.block-blank {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}